<!-- START Main -->
  <main class="main">
    <div class="main__header">
      <div class="content-wrapper">
        <h1 class="beta">Edit Pin</h1>
      </div>
    </div>
    <div class="main__content">
      <div class="content-wrapper">
        <!-- START Form Edit -->
        <%= render partial: 'form', locals: { pin: @pin } %>
        <!-- END Form Edit -->
        </div>
      </div>
    </div>
    </div>
  </main>
  <!-- END Main -->