<!-- START Main -->
    <main class="main">
      <!-- Masthead -->
      <!-- END Masthead -->
        <% if @pins.any? %>
        <% else %>
        <% end %>
    <div class="main__header">
      <div class="content-wrapper">
        <% if @search_term  %>
          <h2>Results for "<%= @search_term %>"</h2>
        <% else %>
          <h2>All pins</h2>
        <% end %>
      </div>
    </div>
    <div class="main__content">
      <div class="content-wrapper">
        <% if @pins.any? %>
          <ul class="bare-list cards">
            <% @pins.each do |pin| %>
              <li class="card">
                <%= render partial: 'pin_card', locals: { pin: pin } %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <h3>No ideas found!</h3>
        <% end %>
      </div>
</div>
    </main>
<!-- END Main -->