<!-- START Main -->
    <main class="main">
      <!-- Masthead -->
      <div class="masthead">
        <div class="content-wrapper">
          <div class="masthead__text">
            <h1>Add, pin and share your favorite images</h1>
          </div>
        </div>
      </div>
      <!-- END Masthead -->
      <div class="main__header">
        <div class="content-wrapper">
          <h2>Latest pins</h2>
        </div>
      </div>
      <div class="main__content">
        <div class="content-wrapper">
          <ul class="bare-list cards">
            <% @pins.each do |pin| %>
              <li class="card">
                <%= render partial: 'pin_card', locals: { pin: pin } %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </main>
<!-- END Main -->