/* ==============================
 * SEARCH FORM
================================= */

.search {
  font-size: 1.5rem;
  color: $gray-1;

  &__label {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0.5em;
  }

  &__field {
    border: none;
    border-radius: 50px;
    padding-left: 1rem;
    font-size: inherit;
    margin: 0;

    @include tablet {
      padding-left: 1em;
    }
  }
  &__row {
    background-color: $white;
    border: 1px solid $gray-4;
    border-radius: 50px;
    display: flex;
    

    & .btn {
        border: none;
        border-radius: 50px;
      padding: 1.6em;
    }
  }

  &__row &__field {
    flex: 1 0 10em;
  }
}

.focus {
  box-shadow: 0 0 5px $primary-color;
}
