/* ==============================
* ICONS
================================= */

.icon {
  padding-right: 0.3em;
  fill: currentColor;

  .btn:hover &,
  .btn:active &,
  .btn:focus & {
    fill: currentColor;
  }

  &--liked {
    fill: $secondary-color;
    .btn:hover &,
    .btn:active &,
    .btn:focus & {
      fill: $primary-color;
    }
  }
  &--cta {
    fill: currentColor;
  }
}
